@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

:root {
  --primary-text: #101828;
  --bg-color1: #1f242d;
  --primary-text-color: #ed1d24;
  --color-bg2: #ad0207;
  --primary-hover: #dd242a;
  --bg-body: #dedede;
  --secondary: #667085;
}

html {
  font-size: 62.5%;
}

.Home_container {
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  position: relative;
  margin-top: 0px;
  width: 100%;
  padding: 2rem 7%;
}

/* #minha-imagem {
  background: #dd242a;
  color: #dedede;



} */

.contato-icons{
  height:145px;
  width: 345px;
  background: #ff4d05;
  color: #dedede;
 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;
}

.contato-icons:hover {
  background: #dedede;
  color: #ff4d05;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list a {
  color: #dedede;
  font-size: 17px;
  font-weight: 600;
  margin: 0 25px;
  transition: all .45s ease;
}

.list a:hover {
  color: #dedede;
  margin-bottom: 5rem;
  transition: all .45s ease;
}






@media screen and (max-width: 805px) {
  #minha-imagem {
    width: 350px;
    height: auto;
    transition: all 0.45s ease;
  }
}

@media screen and (max-width: 720px) {
    #minha-imagem {
      width: 100%;
      height: auto;
      transition: all 0.45s ease;
    }
  }
  